[submodule "DeepNeuralNetwork"]
	path = DeepNeuralNetwork
	url = https://github.com/takayuki5168/DeepNeuralNetwork
[submodule "StarFox"]
	path = StarFox
	url = https://github.com/takayuki5168/StarFox
[submodule "BlockDiagramMaker"]
	path = BlockDiagramMaker
	url = https://github.com/takayuki5168/BlockDiagramMaker
[submodule "Blockchain"]
	path = Blockchain
	url = https://github.com/takayuki5168/Blockchain
[submodule "MusicalScoreMaker"]
	path = MusicalScoreMaker
	url = https://github.com/takayuki5168/MusicalScoreMaker
[submodule "SuperMarioBrothers"]
	path = SuperMarioBrothers
	url = https://github.com/takayuki5168/SuperMarioBrothers
[submodule "FlowerSpecifier"]
	path = FlowerSpecifier
	url = https://github.com/takayuki5168/FlowerSpecifier
