[submodule "DeepNeuralNetwork"]
	path = DeepNeuralNetwork
	url = https://github.com/takayuki5168/DeepNeuralNetwork
[submodule "StarFox"]
	path = StarFox
	url = https://github.com/takayuki5168/StarFox
[submodule "BlockDiagramMaker"]
	path = BlockDiagramMaker
	url = https://github.com/takayuki5168/BlockDiagramMaker
[submodule "Blockchain"]
	path = Blockchain
	url = https://github.com/takayuki5168/Blockchain
[submodule "MusicalScoreMaker"]
	path = MusicalScoreMaker
	url = https://github.com/takayuki5168/MusicalScoreMaker
[submodule "SuperMarioBrothers"]
	path = SuperMarioBrothers
	url = https://github.com/takayuki5168/SuperMarioBrothers
[submodule "FlowerSpecifier"]
	path = FlowerSpecifier
	url = https://github.com/takayuki5168/FlowerSpecifier
[submodule "RecogNumberOnWeb"]
	path = RecogNumberOnWeb
	url = https://github.com/takayuki5168/RecogNumberOnWeb
[submodule "OthelloGame"]
	path = OthelloGame
	url = https://github.com/takayuki5168/OthelloGame.git
[submodule "HopfieldNeuralNetwork"]
	path = HopfieldNeuralNetwork
	url = https://github.com/takayuki5168/HopfieldNeuralNetwork.git
[submodule "takayuki5168.github.io"]
	path = takayuki5168.github.io
	url = https://github.com/takayuki5168/takayuki5168.github.io.git
[submodule "fk_with_nn"]
	path = fk_with_nn
	url = https://github.com/takayuki5168/fk_with_nn.git
[submodule "CppRobotics"]
	path = CppRobotics
	url = https://github.com/takayuki5168/CppRobotics
[submodule "game_with_euslisp"]
	path = game_with_euslisp
	url = https://github.com/takayuki5168/game_with_euslisp
