[submodule "DeepNeuralNetwork"]
	path = DeepNeuralNetwork
	url = https://github.com/takayuki5168/DeepNeuralNetwork
[submodule "StarFox"]
	path = StarFox
	url = https://github.com/takayuki5168/StarFox
[submodule "SuperMarioBrothers"]
	path = SuperMarioBrothers
	url = https://github.com/takayuki5168/SuperMarioBrothers
[submodule "FlowerSpecifier"]
	path = FlowerSpecifier
	url = https://github.com/takayuki5168/FlowerSpecifier
[submodule "OthelloGame"]
	path = OthelloGame
	url = https://github.com/takayuki5168/OthelloGame.git
[submodule "HopfieldNeuralNetwork"]
	path = HopfieldNeuralNetwork
	url = https://github.com/takayuki5168/HopfieldNeuralNetwork.git
[submodule "fk_with_nn"]
	path = fk_with_nn
	url = https://github.com/takayuki5168/fk_with_nn.git
[submodule "CppRobotics"]
	path = CppRobotics
	url = https://github.com/takayuki5168/CppRobotics
[submodule "game_with_euslisp"]
	path = game_with_euslisp
	url = https://github.com/takayuki5168/game_with_euslisp
[submodule "UsefulScripts"]
	path = UsefulScripts
	url = https://github.com/takayuki5168/UsefulScripts
[submodule "MatplotlibStarter"]
	path = MatplotlibStarter
	url = https://github.com/takayuki5168/MatplotlibStarter
[submodule "web-shooting-game"]
	path = web-shooting-game
	url = https://github.com/takayuki5168/web-shooting-game
[submodule "cubic_spline_generator"]
	path = cubic_spline_generator
	url = https://github.com/takayuki5168/cubic_spline_generator
